@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('http://fonts.cdnfonts.com/css/graphik');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Graphik', sans-serif;
  width: 100%vw;
  height:100%vh;
  
                                                
}
body{
  font-family: 'Graphik', sans-serif;
  width: 100%;
  height:100%;
                                                
}
.main-body{
  background:  #E5E5E5;
  height: fit-content;
 }
 .iconss{
  cursor: pointer;
  margin-left: 750px;
  font-size: 2.5vmax;
  color: rgb(58, 58, 58);
  visibility: hidden;
}
.nav-hamburger{
  display: flex;
 
}
.sub-body{
  display: flex;
  flex-wrap: nowrap;
  overflow-x:hidden;
}
.nav{
  border-bottom: none;
  box-shadow: none;
  width: 100%;
}
.nav-pills .nav-link{
  display: flex;
}

.high{
  width: 240px;
  height: 800px !important;
  background: white;
  display: block;
}
.mobile-high{
  position:absolute;
  transition: all 0.15s;
  width: 240px;
  height: 900px !important;
  background: white;
  display: none;
  left:-240px;
  z-index: 99;
}
.shownav{
  left:0px;
}
.nav-item{
  color: #262626 !important;
  font-size: 13px;
  font-weight: 300;
  margin-left: 10px !important;
  width: 100% !important;
}
.active{
  font-weight: 400;
}
.nav-link{
  justify-content: space-between !important;
  width: 100% !important;
}
.icon{
  margin-left: 5px !important;
  width: 17px;
  width: 17px;
}
.nav-links{
  margin-left: 5px !important;
  width: 100% !important;
}
.user-profile{
  justify-content: left;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}
.user-profile h2{
font-size: 14px;
color: #293737;
margin-top: 5px;
}
.user-profile h6{
  font-size: 9px;
  color: #888888;
  font-weight: 500;
}
.user-profile h4{
font-size: 10px;
color: #888888;
}
.profile-header-rule{
  border: 1px solid rgb(216, 213, 213);
  width: 85%;
}
.hr2{
  background-color: rgb(228, 228, 228);
  width: 80%;
}
.Right-side-bar{
  margin-left: -430px;
}

 .App{
  background: #FFFFFF;
  border-radius: 10px;
  border: none !important;
  width:100%;
  height: 450px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  flex: 1;
  margin-bottom: 20px;
 }
 .card{
   border: none !important;
 }
 .hOQcBO{
  color: #293737;
  font-weight: 400 !important;
  font-size: 13px !important;
  border: none;
 }
 .iiHmzE{
  font-weight: 500 !important;
  font-size: 12px !important;
 }
 .rdt_TableRow{
   color:#293737 !important;
   font-weight: 300;
   font-size: 12px;
   border: none;
 }
 .gXlmGk  {
  background: #EFEFEF !important;

 }
 .rightHand-body{
   width: 100%;
   margin-top: 30px;
 }
 .dashboard-title{
   color: #262626;
   font-size: 22px;
 } 
.sales-chart{
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30px;
  background: #FFFFFF;
  border-radius: 10px;
}
.agent-calc-body{
  display: flex;
}
.calc-card{
  width: 230px;
   height: 40px
}
 .sales-header{
   justify-content: space-between;
   margin-bottom: 10px;
 }
 .btn-group-sm>.btn, .btn-sm{
   color:  #293737 !important;
   font-size: 12px;
 }
 .nav-color{
   color: rgb(15, 15, 15);
 }
.card-body{
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #dbd7d7;
  color: #262626;
  padding-bottom: 20px;
}
.chart-body{
  display: flex;
}
.chart-icon{
  width: 481px;
  height: 257px;
  margin-right: 10px;
}
.card-title{
  color: #262626;
  font-size: 18px;
}
.calculations{
  margin-bottom: 50px;
}
.card-text{
  font-size: 14px;
  margin-top: -10px;
}
.trending-icon{
  width: 30px;
  margin-top: -30px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 400px!important;
  margin-left: 0px !important;
  padding-left: 10px !important;
  margin-right: 0 !important;
}

/* Home/Transaction */
.transaction-body{ 
  margin-top: 20px;
  width: 73%; 
  margin-left: -500px;
}
.transaction-header h2{
  color: #262626;
  font-size: 22px;
}
.transaction-header p{
  color: #262626;
  font-size: 12px;
}
.mini-paragraph{
  color: #54AB68
}
.card-transaction{
  padding: 15px;
  background: #FFFFFF;
  border-radius: 5px;
  width: 98%;
}

.huizgM {
  overflow: visible !important; 
  white-space: nowrap;
  text-overflow: initial !important;
  width: 200%;
}
.bZUXHV{
  overflow: visible !important;
}
.hHSTiF {
  overflow-x: visible !important;
}
.kzgtIF {
overflow: visible !important;
}
.all-time{
  display: flex;
  justify-content: space-between;
}
/* individual Transaction */
.transaction-details-body{
  font-family: 'Graphik'; 
  flex: 1; 
  margin-left: -100px;
}
.transaction-header{
margin-top: 20px;
}
 .btn-active{
  background-color: #54AB68;
  padding: 2px;
  height: 22px;
  width: 60px;
  font-size: 10px;
  color: white;
  }

.details-title h3{
  font-size: 16px;
}
.details h3{
  color: #41747A;
  font-size: 14px;
}
.details h6{
  color: #888888;
  font-size: 12px;
}
.transaction-header h2{
  font-size: 18px;
}
.transaction-header p{
  font-size: 10px;
}
.transaction-details{
  padding: 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
  justify-content: center;
  width: 95%;
}
.details-title{
  display: flex;
  justify-content: space-between;
}
.details-rate{
  margin-right: 150px;
}
.double-details{
  display: flex;
  text-align: left;
  justify-content: space-between;
  
}
.details h6{
  font-size: 10px;
}
.details h3{
  font-size: 13px;
}
.rls1{
  margin-right: 155px;
}
.rls2{
  margin-right: 165px;
}
.rls3{
  margin-right: 135px;
  margin-bottom: 120px;
} 
.agent-calc-board{
  justify-content: space-between;
}
.mini-card-calc{
  width: 270px;
}
.auth{
  height: 700px;
  width: 100%;
  background-color: black;
}
.auth-main{
  display: flex;
  width: 100%;
  height:100%;
  justify-content: center;

}
.auth-design{
background: url('./image/cv-bg.jpeg');
width: 50%;
height: 100%;
border-radius: 0.2%;
background-size: cover;
}

.auth-content{
 justify-content: center;
 width: 50%;
 height: 100%;
 text-align: center;
 background: #FFFFFF;
}
.cv-logo{
  margin-top: 100px;
}
.auth-content h2{
  margin-top: 60px;
  color: #293737;
  font-size: 28px;
  text-align: center;
}
.form-input{
  width: 610px !important;
  padding-left: 30px;
  padding-right: 30px !important;
  justify-content: center;
}
.form-content{
  margin-top: 30px;
}
.text-muted{
  margin-left: 400px;
}
.btn-auth{
  width: 200px;
  height: 40px;
  color: #FFFFFF;
 background-color: #54AB68;
 text-align: center;
 font-size: 18px;
}
.dashboard{
  width:100% !important;
  overflow-x:hidden;
}
/* Responsiveness */
@media screen and (max-width: 1700px) {
  .logo{
    margin-left: 30px;
    margin-top: 5px;
  }
  .dashboard{
    width:100% !important;
    overflow-x:hidden;
  }
  .Right-side-bar {
    margin-left: -460px;
    overflow-x: hidden;
    width: 75%;
}
.calc-card {
  width: 360px;
}
.calculations {
  margin-left: 270px;
}
.byQPbT {
  width: 100% !important;
}
.logout{
  margin-top:100px;
}
.transaction-body {
  width: 75%;
  margin-left: -450px;
}
.transaction-details-body {
  margin-left: -500px;
}
.details-rate {
  margin-right: 450px;
}
.details.details-rate.rls {
  margin-right:458px;
}
.details.details-rate.rls1 {
  margin-right:462px;
}
.details.details-rate.rls2 {
  margin-right:473px;
}
.details.details-rate.rls3 {
  margin-right:447px;
}
}

@media screen and (max-width: 1646px) {
  .calculations {
    margin-left: 240px;
  }
  .Right-side-bar {
    margin-left: -485px;
}
}

@media screen and (max-width: 1605px) {
  .calculations {
    margin-left: 200px;
  }
}
@media screen and (max-width: 1549px) {
  .calculations {
    margin-left: 160px;
  }
  .transaction-body {
    width: 74%;
    margin-left: -480px;
  }
}
@media screen and (max-width: 1438px) {
  .calculations {
    margin-left: 130px;
  }
}

@media screen and (max-width: 1415px){
  .dashboard {
    width: 96% !important;
    overflow-x: hidden;
}
.calc-card {
  width: 300px;
}
.App {
  width: 96%;
}
}
@media screen and (max-width: 1372px){
  .calculations {
    margin-left: 80px;
  }
  .transaction-body {
    width: 73%;
  }
}
@media screen and (max-width: 1318px){
  .calculations {
    margin-left: 40px;
  }
}
@media screen and (max-width: 1300px){
  .calculations {
    margin-left: 20px;
  }
  .details-rate {
    margin-right: 50px;
}
.details.details-rate.rls {
  margin-right:358px;
}
.details.details-rate.rls1 {
  margin-right:362px;
}
.details.details-rate.rls2 {
  margin-right:373px;
}
.details.details-rate.rls3 {
  margin-right:347px;
}
}

@media screen and (max-width: 1235px){
  .transaction-body {
    margin-left: -500px;
  }
}
@media screen and (max-width: 1226px){
  .dashboard {
    width: 92% !important;
}
.App {
  width: 92%;
}
  .calculations {
    margin-left: 70px;
  }
  .chart-icon {
    width: 400px;
  }
  .calc-card {
    width: 270px;
    height: 32px;
}

}
@media screen and (max-width: 1190px){
 
  .calculations {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1168px){
 
  .calculations {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1128px){
  .chart-icon {
    width: 350px;
}
.calc-card {
  width: 220px;
  height: 30px;
  margin-top: 24px;
}
.calc-card.calc-card2.card {
  margin-top: -15px;
} 
.calc-card.calc-card3.card {
  margin-top: -15px;
}
.card-body{
  padding-bottom:5px;
}

.card-title {
  font-size: 16px;
}
.trending-icon {
  width: 25px;
  margin-top: -27px;
}
.calculations {
  margin-left: 80px;
}
@media screen and (max-width: 1125px){

  .transaction-body {
    width: 70%;
  }
}
}
@media screen and (max-width: 1075px){
  .calculations {
    margin-left: 50px;
  }
  .details.details-rate.rls {
    margin-right:228px;
  }
  .details.details-rate.rls1 {
    margin-right:232px;
  }
  .details.details-rate.rls2 {
    margin-right:243px;
  }
  .details.details-rate.rls3 {
    margin-right:217px;
  }
}
@media screen and (max-width: 1033px){
  .calculations {
    margin-left: 20px;
  }
  
}
@media screen and (max-width: 988px){
  .calculations {
    margin-left: 3px;
  }
  .high {
    display: none ;
  }
  .mobile-high {
    display: block; 
  }
  .hamburger{
    visibility: visible;
  }
  .dashboard{
    width:100% !important;
    overflow-x:hidden; 
  }
  .App{
    width:100% !important;
  }
  .Right-side-bar {
    margin-left: -760px;
    overflow-x: hidden;
    width: 92%;
}
.chart-icon{
  width: 481px;
  height: 257px;
  margin-right: 10px;
}
.calc-card {
  width: 270px;
  margin-top:55px;
}
.calculations {
  margin-left: 50px;
}
.transaction-body {
  width: 90%;
}
.card-transaction {
  width: 115%;
  margin-left: -160px;
}
.transaction-header {
  margin-left: -160px;
  margin-top: 10px;
}
.transaction-details {
  width: 127%;
  margin-left: -240px;
}
.transaction-header.header2 {
  margin-left: -230px;
}
}

@media screen and (max-width: 946px){
  .calculations {
    margin-left: 20px;
  }
  .iconss{
    margin-left: 700px;
  }
  .card-transaction {
    margin-left: -150px;
  }
  .transaction-header {
    margin-left: -150px; 
  }
.transaction-header.agent-header {
    margin-left: -150px;
}
  .transaction-details {
    width: 129%;
}
}
@media screen and (max-width: 912px){
  .calculations {
    margin-left: 50px;
  }
  .iconss{
    margin-left: 660px;
  }
  .chart-icon{
    width: 400px;
    height: 257px;
  }
  .calc-card {
    width: 270px;
    margin-top:40px;
  }
}

@media screen and (max-width: 860px){
  .transaction-body.agent-body {
    width: 75%;
}
.mini-card-calc {
  width: 210px;
}
}
@media screen and (max-width: 852px){
  .iconss{
    margin-left: 620px;
  }
  .calc-card {
    width: 220px;
    margin-top:40px;
  }
  .card-transaction {
    margin-left: -140px;
  }
  .transaction-header {
    margin-left: -140px; 
  }
  .transaction-details {
    width: 135%;
}
.transaction-header.agent-header {
  margin-left: -140px;
}
.transaction-body.agent-body {
  width: 79%;
  margin-left: -600px;
}
}

@media screen and (max-width: 826px){
  .dashboard{
    width:95% !important;
    overflow-x:hidden; 
  }
  .App{
    width:95% !important;
  }
  .chart-icon{
    width: 380px;
    height: 257px;
    margin-left:-20px;
  }
  .Right-side-bar {
    margin-left: -750px;
}
  .iconss{
    margin-left: 590px;
    font-size: 3.5vmax;
  }
  .calc-card {
    width: 200px;
  }
  .calculations {
    margin-left: 30px;
  }
  .card-title {
    font-size: 15px;
}
  .card-text {
    font-size: 12px;
  }
  .trending-icon {
    width: 20px;
  }
}

@media screen and (max-width: 782px){
  
  .iconss{
    margin-left: 550px;
  }
  .card-transaction {
    margin-left: -130px;
  }
  .transaction-header {
    margin-left: -130px; 
  }
  .transaction-details {
    width: 140%;
}
}
@media screen and (max-width: 776px){
  .transaction-header.agent-header {
    margin-left: -128px;
  }
}
@media screen and (max-width: 750px){
  .chart-icon{
    width: 350px;
  }
  .iconss{
    margin-left: 530px;
  }
}
@media screen and (max-width: 718px){
  .iconss{
    margin-left: 480px;
  }
}
@media screen and (max-width: 716px){
  .chart-icon{
    width: 310px;
  }
  .iconss{
    margin-left: 480px;
  }
  .card-transaction {
    margin-left: -120px;
  }
  .transaction-header {
    margin-left: -120px; 
  }
  .transaction-details {
    width: 150%;
}
}
/* @media screen and (max-width: 670px){
  .chart-icon{
    width: 300px;
  }
  .iconss{
    margin-left: 440px;
  }
  .calculations {
    margin-left: 10px;
  }
} */
@media screen and (max-width: 670px){
  .chart-icon{
    width: 300px;
  }
  .iconss{
    margin-left: 410px;
  }
  .calculations {
    margin-left: 0px;
  }
  .calc-card {
    width: 180px;
  }
}
@media screen and (max-width: 675px){
  .chart-body {
    flex-direction: column;
    justify-content:center;
}
  .chart-icon{
    width: 400px;
    margin-left:20px;
  }
  .calc-card {
    width: 300px;
    margin:0 auto;
  }
  .details.details-rate.rls {
    margin-right:128px;
  }
  .details.details-rate.rls1 {
    margin-right:132px;
  }
  .details.details-rate.rls2 {
    margin-right:143px;
  }
  .details.details-rate.rls3 {
    margin-right:117px;
  }
}

@media screen and (max-width: 630px){
  .card-transaction {
    margin-left: -100px;
  }
  .transaction-header {
    margin-left: -100px; 
  }
  .transaction-details{
    width: 170%;
  }
  .details.details-rate.rls {
    margin-right:76px;
  }
  .details.details-rate.rls1 {
    margin-right:80px;
  }
  .details.details-rate.rls2 {
    margin-right:91px;
  }
  .details.details-rate.rls3 {
    margin-right:65px;
  }
  .transaction-header.agent-header {
    margin-left: -100px;
}
}
@media screen and (max-width: 626px){
  .card-title.agent-title.card-title.h5 {
    font-size: 12px;
    margin-bottom: 15px;
}
p.card-text.agent-text.card-text {
  font-size: 10px;
}
}
@media screen and (max-width: 592px){
  .iconss{
    margin-left: 360px;
  }
  .agent-calc-body {
    display: flex!important;
    flex-direction: column;
}
.mini-card-calc {
  width: 310px;
  margin: 0 auto;
  margin-bottom: 10px;
}
}
@media screen and (max-width: 584px){
  .iconss{
    margin-left: 360px;
  }
  .card-transaction {
    margin-left: -30px;
    width: 100%;
  }
  .transaction-header {
    margin-left: -30px;
  }
  .transaction-header.agent-header {
    margin-left: -30px;
}
}
@media screen and (max-width: 575px){
  .iconss{
    margin-left: 360px;
  }
  .mobile-user-profile{
    margin-left:-360px;
  }
  .logout{
    margin-left:-420px;
  }
}

@media screen and (max-width: 567px){
  .mobile-user-profile{
    margin-left:-340px;
  }
  .logout{
    margin-left:-410px;
  }
}
@media screen and (max-width: 552px){
  .chart-icon{
    width: 400px;
    margin-left:-20px;
  }
}
@media screen and (max-width: 544px){
  .iconss{
    margin-left: 320px;
  }
  .mobile-user-profile{
    margin-left:-320px;
  }
  .logout{
    margin-left:-380px;
  }
  .logo{
    margin-left:23px;
  }
  
}


@media screen and (max-width: 522px){
  .transaction-details{
    width: 180%;
  }
  .details.details-rate.rls {
    margin-right:36px;
  }
  .details.details-rate.rls1 {
    margin-right:40px;
  }
  .details.details-rate.rls2 {
    margin-right:51px;
  }
  .details.details-rate.rls3 {
    margin-right:25px;
  }
}
@media screen and (max-width: 521px){
  
  .iconss{
    margin-left: 290px;
  }
  .chart-icon{
    width: 350px;
    margin:0 auto;
  }
  .Right-side-bar {
    margin-left: -770px;
}
}
@media screen and (max-width: 513px){
  
  .mobile-user-profile{
    margin-left:-300px;
  }
  .logout{
    margin-left:-355px;
  }
}
@media screen and (max-width: 493px){
  .chart-icon{
    width: 350px;
    margin-left:-20px;
  }
  .iconss{
    margin-left: 270px;
  }
  .mobile-user-profile{
    margin-left:-280px;
  }
  .logout{
    margin-left:-335px;
  }
}

@media screen and (max-width: 484px){
  .transaction-details{
    width: 200%;
  }
  .details.details-rate.rls {
    margin-right:6px;
  }
  .details.details-rate.rls1 {
    margin-right:10px;
  }
  .details.details-rate.rls2 {
    margin-right:21px;
  }
  .details.details-rate.rls3 {
    margin-right:-5px;
  }
  .transaction-details-body {
    margin-left: -540px;
}
}
@media screen and (max-width: 471px){
  
  .mobile-user-profile{
    margin-left:-250px;
  }
  .logout{
    margin-left:-315px;
  }
  .card-transaction {
    margin-left: -20px;
    width: 100%;
  }
  .transaction-header {
    margin-left: -20px;
  }
  .transaction-details{
    width: 205%;
  }
}
@media screen and (max-width: 451px){
  .iconss{
    margin-left: 250px;
  }
  .transaction-details{
    width: 217%;
  }
}

@media screen and (max-width: 448px){
  .transaction-header.agent-header {
    margin-left: -20px;
}
}
@media screen and (max-width: 441px){
 
  .chart-icon{
    width: 300px;
    margin-left:-10px; 
  }
  .Right-side-bar {
    margin-left: -770px;
}
  .logo{
    margin-left:30px;
  }
  .calc-card {
    width: 250px;
    margin:0 auto;
  }
  .mobile-user-profile{
    margin-left:-220px;
  }
  .logout{
    margin-left:-300px;
  }
}

@media screen and (max-width: 434px){
  .transaction-details{
    width: 225%;
  }
  .mini-card-calc {
    width: 270px;
  }
}
@media screen and (max-width: 430px){
  .iconss{
    margin-left: 230px;
  }
  .mobile-user-profile{
    margin-left:-210px;
  }
  .logout{
    margin-left:-280px;
  }
}
@media screen and (max-width: 428px){
  .iconss{
    margin-left: 230px;
  }
  .chart-icon{
    margin-left:-20px; 
  }
  .mobile-user-profile{
    margin-left:-200px;
  }
  .logout{
    margin-left:-280px;
  }
  .sales-text{
    font-size:13px;
    margin-left:-20px;
  }
}
@media screen and (max-width: 410px){
  .iconss{
    margin-left: 200px;
  }
  .logo{
    margin-left:15px;
  }
}
@media screen and (max-width: 408px){
  .logout{
    margin-left:-260px;
  }
}
@media screen and (max-width: 407px){
  .iconss{
    margin-left: 200px;
  }
  .mobile-user-profile{
    margin-left:-180px;
  }
  .logout{
    margin-left:-260px;
  }
  .transaction-details{
    width: 245%;
  }
}
@media screen and (max-width: 392px){
  .logout{
    margin-left:-244px;
  }
}
@media screen and (max-width: 397px){
  .iconss{
    margin-left: 150px;
  }
 
}

@media screen and (max-width: 390px){
  .logout{
    margin-left:-235px;
  }
}
@media screen and (max-width: 389px){
  .chart-icon{
    width: 270px;
    margin-left:-15px; 
  }
  .iconss{
    margin-left: 110px;
    font-size: 4.2vmax;
  }
  .logo{
    margin-left:17px;
  }
  .transaction-details{
    width: 285%;
  }
  .mini-card-calc {
    width: 250px;
  }
  .transaction-body.agent-body {
    margin-left: -740px;
}
}

@media screen and (max-width: 374px){
  .mobile-user-profile{
    margin-left:-160px;
  }
  .logout{
    margin-left:-220px;
  }
}
@media screen and (max-width: 361px){
  .chart-icon{
    width: 240px;
    margin-left:-10px; 
  }
  .iconss{
    margin-left: 110px;
    font-size: 4.2vmax;
  }
  .logo{
    margin-left:17px;
  }
  .calc-card {
    width: 220px;
    margin:0 auto;
  }
  .Right-side-bar {
    margin-left: -780px;
}
.mobile-user-profile{
  margin-left:-160px;
}
.logout{
  margin-left:-220px;
}
.transaction-details{
  width: 330%;
}
.mini-card-calc {
  width: 220px;
}
}

@media screen and (max-width: 346px){
  .transaction-details{
    width: 360%;
  }
  .transaction-body.agent-body {
    margin-left: -750px;
}

}
@media screen and (max-width: 341px){
  .chart-icon{
    width: 220px;
    margin-left:-10px; 
  }
  .calc-card {
    width: 200px;
    margin-left:0px
  }
  .card-transaction {
    margin-left: -15px;
    width: 100%;
  }
  .transaction-header {
    margin-left: -15px;
  }
  .mobile-user-profile {
    margin-left: -130px;
}
  .logout{
    margin-left:-200px;
  }
}
@media screen and (max-width: 344px){
.mobile-user-profile {
  margin-left: -140px;
}
.logout{
  margin-left:-200px;
}
}
@media screen and (max-width: 334px){
  .transaction-details{
    width: 400%;
  }
}
@media screen and (max-width: 329px){
  .chart-icon{
    width: 220px;
    margin-left:-20px; 
  }
  .mobile-user-profile{
    margin-left:-130px;
  }
  .logout{
    margin-left:-195px;
  }
  .transaction-details{
    width: 470%;
  }
}
@media screen and (max-width: 320px){
  .chart-icon{
    width: 220px;
    margin-left:-20px; 
  }
  .mobile-user-profile{
    margin-left:-110px;
  }
  .logout{
    margin-left:-165px;
  }
  .calc-card {
    width: 200px;
    margin-left:-10px
  }
  .transaction-details{
    width: 470%;
  }
}